<nav>
  <div class="w-full flex flex-wrap items-center justify-between mx-auto py-4">
    <div class="flex items-center space-x-8">
      <a href="#" class="flex items-center">
        <img src="https://flowbite.com/docs/images/logo.svg" alt="" class="h-6 mr-3" />

        <span class="self-center text-xl font-semibold whitespace-nowrap"> Daniel</span>
      </a>
      <ul class="flex space-x-6">
        <li>
          <a href="#" class="block underline hover:underline" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#" class="block hover:underline">About</a>
        </li>
        <li>
          <a href="#" class="block hover:underline">Services</a>
        </li>
      </ul>
    </div>

    <div class="flex items-center">
      <button class="p-2 border rounded relative" (click)="toogleCart()">
        <div class="absolute -top-2 -left-2 rounded h-5 w-5 bg-black text-white text-xs">
        {{ cart.length }}
      </div>
        <svg fill="none" stroke="currentColor" stroke-linecap="round"
          class="w-6 h-6"
        stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 20a1 1 0 1 0 0 2 1 1 0 1 0 0-2z"></path>
          <path d="M20 20a1 1 0 1 0 0 2 1 1 0 1 0 0-2z"></path>
          <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>


<div
  class="fixed border-l-4 top-0 right-0 bg-red z-40 w-72 h-screen p-4 overflow-y-auto transition-transform bg-white"
  [class.translate-x-full]="isOpen()"
>
  <div class="flex justify-between items-center">
    <p class="text-xl">My Cart</p>
    <button  (click)="toogleCart()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
  <div>
    <div *ngFor="let product of cart">
      <div class="flex my-5">
        <div class="mr-5">
          <img [src]="product.image" [alt]="product.title" class="h-8 w-8 rounded-sm" />
        </div>
        <div class="flex-1">
          <p class="font-semibold text-md mr-5"> {{ product.title }} </p>
        </div>
        <p class="text-red-400"> ${{ product.price }} </p>
      </div>
    </div>

    <div class="flex justify-end">
      <p><span class="text-lg font-semibold">Total: </span> <span class="text-lg text-red-400">$ {{ totalSignal() }}</span>  </p>
    </div>
  </div>
</div>